<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29610771014-v2g8klb6j8ncbii70agh0ink1pl8fehu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29610771014-v2g8klb6j8ncbii70agh0ink1pl8fehu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29610771014-06hmpcj58cmirsgifbm4ph9fu4kj8abi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUJ7Mb3osMMGCYEhTxvbg3Kaer1Heb5eo</string>
	<key>GCM_SENDER_ID</key>
	<string>29610771014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-4a0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-4a0ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29610771014:ios:fee53e49ed9739a4a4c047</string>
</dict>
</plist>